@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background:#ededed;
}

.container {
    background: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    perspective: 300px;
    box-shadow: 0 10px 30px 0 #56b1ed;
    position: fixed;
    display: block;
}

.imgs {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.imgs img {
    width: 150px;
}

.face,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    transform: rotateX(180deg);
}

.scores {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 40px;
    margin-top: 55px;
    box-shadow: 0 0 20px #c289dd6d;
}

.options {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    padding: 15px 0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.flip {
    background-color:rgb(192, 151, 211);
    color: #ffffff;
    left: 10%;

}

.reset {
    background-color:rgb(145, 197, 218);
    color: white;
    right: 20%;
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2160deg);
    }
}
.input[type=text] {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 #56b1ed;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    width: 85%;
    margin-left: 1em;
    margin-bottom: 45em;
}
.button{
    background-color: #287bff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 hsla(214, 71%, 38%, 0.479);
    box-shadow: 0 10px 30px 0 hsla(214, 81%, 63%, 0.623);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    width: 85%;
    margin-left: 10%;
    
}
.mensaje{
    display: none;
}
.mensaje1{
    display: none;
}
.active h5{
    display:block;
    text-align: center;
}
.containerOculto{
    display: none;
}
.main{
    display: none;
}
.mainActivo{
    display: block;
}